# PyCharm and Notebooks
*.pyc
.idea/
.ipynb_checkpoints/
**/__pycache__/

# tex stuff
*.asv
*.synctex
*.lnk
*.tmp
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.DS_Store
*.nav
*.snm
*.tcp
*.toc
*.tps
*.dvi
*.fdb_latexmk
*.fls
/lecture_slides/*.pdf
/lecture_slides/built/*.pdf
/lecture_slides/build-*.tex
!/lecture_slides/build-all.tex
/lecture_slides/handout-build-*.tex
**/fig/**/*-eps-converted-to.pdf

# paper
/paper/paper.pdf

# misc.
*.db
!.gitkeep
